.wm-profile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    flex: 1;
    padding: 40px 80px;
    background-color: #fafafa;
    gap: 30px;
}

.profile-content {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.profile-button-group {
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.btn {
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

.btn.primary {
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
}

.btn.primary:hover {
    background-color: #c9e1ff;
}

.btn.save {
    background: #ff8a00;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
}

.btn.save:hover {
    transform: scale(1.03);
    background: #ff9a1a, ;
}